.no_auth_container {
  .no_auth_sub_container {
    margin: 4rem auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    .logo {
      font-size: 6rem;
      color: $primary;
    }
    .tweetx {
      margin: 2rem 0;
      font-size: 2rem;
      font-weight: 700;
      color: $primary;
    }
    .app_dispcription {
      text-align: center;
      line-height: 1.5;
      max-width: 270px;
      font-size: 0.8rem;
      color: inherit;
    }
    .btn_login {
      width: 100%;
      text-align: center;
      color: white;
      padding: 1rem 0;
      margin: 4rem 0;
      border-radius: 5px;
      background-color: $primary;
      text-decoration: none;
    }
    .link_signup {
      text-decoration: none;
      color: $primary;
      font-size: 0.9rem;
    }
  }
}
