.users_container {
  width: 100%;
  box-sizing: border-box;
  background-color: $background_color;
}

.users_sub_container {
  padding-top: 2rem !important;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
  .single_user {
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .single_user_container {
      display: flex;
      width: 80%;
      align-items: center;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .user_name {
      font-size: 1rem;
      color: inherit;
      small {
        font-size: 0.6rem;
      }
    }
  }
  .follow_btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: $primary;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media all and (max-width: 500px) {
  .users_sub_container {
    width: 90%;
  }
}
